<div data-v-409fe714="" class="chart-editor"><div data-v-409fe714="" class="chart-view">
<canvas width="800" height="400" style="display: block; box-sizing: border-box; height: 400px; width: 800px;"></canvas></div> 

<div data-v-6c4d3f30="" data-v-409fe714="" class="chart-actions"></div> 
<div data-v-2b4f0900="" data-v-409fe714="" class="code-editor"><div data-v-2b4f0900="" class="code-editor-header">
<div data-v-2b4f0900="" class="code-editor-tabs"><button data-v-2b4f0900="" class="code-editor-tab active">
        config
      </button><button data-v-2b4f0900="" class="code-editor-tab">
        setup
      </button></div> 
      <div data-v-2b4f0900="" class="code-editor-tools"><!----> <a data-v-2b4f0900="" href="https://github.com/chartjs/Chart.js/blob/master/docs/charts/bar.md" title="View on GitHub" target="_blank" class="code-editor-tool fab fa-github fa-lg"></a></div></div> <div data-v-2b4f0900="" class="code-editor-views"><div data-v-d2a140a2="" data-v-2b4f0900="" class="editor-textarea ps"><div data-v-d2a140a2="" class="editor-textarea-content"><div data-v-d2a140a2="" class="prism-editor-wrapper"><div class="prism-editor__container"><textarea spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off" data-gramm="false" placeholder="" data-testid="textarea" class="prism-editor__textarea"></textarea><pre data-testid="preview" class="prism-editor__editor"><span class="token keyword">const</span> config <span class="token operator">=</span> <span class="token punctuation">{</span>
  <span class="token literal-property property">type</span><span class="token operator">:</span> <span class="token string">'bar'</span><span class="token punctuation">,</span>
  <span class="token literal-property property">data</span><span class="token operator">:</span> data<span class="token punctuation">,</span>
  <span class="token literal-property property">options</span><span class="token operator">:</span> <span class="token punctuation">{</span>
    <span class="token literal-property property">scales</span><span class="token operator">:</span> <span class="token punctuation">{</span>
      <span class="token literal-property property">y</span><span class="token operator">:</span> <span class="token punctuation">{</span>
        <span class="token literal-property property">beginAtZero</span><span class="token operator">:</span> <span class="token boolean">true</span>
      <span class="token punctuation">}</span>
    <span class="token punctuation">}</span>
  <span class="token punctuation">}</span><span class="token punctuation">,</span>
<span class="token punctuation">}</span><span class="token punctuation">;</span><br></pre></div></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div><div data-v-d2a140a2="" data-v-2b4f0900="" class="editor-textarea ps" style="display: none;"><div data-v-d2a140a2="" class="editor-textarea-content"><div data-v-d2a140a2="" class="prism-editor-wrapper"><div class="prism-editor__container"><textarea spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off" data-gramm="false" placeholder="" data-testid="textarea" class="prism-editor__textarea"></textarea><pre data-testid="preview" class="prism-editor__editor"><span class="token keyword">const</span> labels <span class="token operator">=</span> Utils<span class="token punctuation">.</span><span class="token function">months</span><span class="token punctuation">(</span><span class="token punctuation">{</span><span class="token literal-property property">count</span><span class="token operator">:</span> <span class="token number">7</span><span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">const</span> data <span class="token operator">=</span> <span class="token punctuation">{</span>
  <span class="token literal-property property">labels</span><span class="token operator">:</span> labels<span class="token punctuation">,</span>
  <span class="token literal-property property">datasets</span><span class="token operator">:</span> <span class="token punctuation">[</span><span class="token punctuation">{</span>
    <span class="token literal-property property">label</span><span class="token operator">:</span> <span class="token string">'My First Dataset'</span><span class="token punctuation">,</span>
    <span class="token literal-property property">data</span><span class="token operator">:</span> <span class="token punctuation">[</span><span class="token number">65</span><span class="token punctuation">,</span> <span class="token number">59</span><span class="token punctuation">,</span> <span class="token number">80</span><span class="token punctuation">,</span> <span class="token number">81</span><span class="token punctuation">,</span> <span class="token number">56</span><span class="token punctuation">,</span> <span class="token number">55</span><span class="token punctuation">,</span> <span class="token number">40</span><span class="token punctuation">]</span><span class="token punctuation">,</span>
    <span class="token literal-property property">backgroundColor</span><span class="token operator">:</span> <span class="token punctuation">[</span>
      <span class="token string">'rgba(255, 99, 132, 0.2)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgba(255, 159, 64, 0.2)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgba(255, 205, 86, 0.2)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgba(75, 192, 192, 0.2)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgba(54, 162, 235, 0.2)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgba(153, 102, 255, 0.2)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgba(201, 203, 207, 0.2)'</span>
    <span class="token punctuation">]</span><span class="token punctuation">,</span>
    <span class="token literal-property property">borderColor</span><span class="token operator">:</span> <span class="token punctuation">[</span>
      <span class="token string">'rgb(255, 99, 132)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgb(255, 159, 64)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgb(255, 205, 86)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgb(75, 192, 192)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgb(54, 162, 235)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgb(153, 102, 255)'</span><span class="token punctuation">,</span>
      <span class="token string">'rgb(201, 203, 207)'</span>
    <span class="token punctuation">]</span><span class="token punctuation">,</span>
    <span class="token literal-property property">borderWidth</span><span class="token operator">:</span> <span class="token number">1</span>
  <span class="token punctuation">}</span><span class="token punctuation">]</span>
<span class="token punctuation">}</span><span class="token punctuation">;</span><br></pre></div></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div></div></div></div>