<div class="crystal-masonry">
  <div class="grid">
    <img src="../../images/studio3/576/129A9213.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
       <!--  <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
       <!--  <span class="grid__tag">#tag1</span> -->
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9167.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
       <!--  <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
        <!-- <span class="grid__tag">#tag1</span> -->
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9166.JPG">
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
        <!-- <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
       <!--  <span class="grid__tag">#tag1</span> -->
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9166.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
        <!-- <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9210.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
        <!-- <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
       <!--  <span class="grid__tag">#tag1</span> -->
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9204.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
        <!-- <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
        <!-- <span class="grid__tag">#tag1</span> -->
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9228.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
        <!-- <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
        <!-- <span class="grid__tag">#tag1</span> -->
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9200.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
        <!-- <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
       <!--  <span class="grid__tag">#tag1</span> -->
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9207.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
        <!-- <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
       <!--  <span class="grid__tag">#tag1</span> -->
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9189.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
        <!-- <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
        <span class="grid__tag">#tag1</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9176.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
        <!-- <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
       <!--  <span class="grid__tag">#tag1</span> -->
      </div>
    </div>
  </div>
  <div class="grid">
    <img src="../../images/studio3/576/129A9163.JPG" >
    <div class="grid__body">
      <div class="relative">
        <a class="grid__link" target="_blank" href="/" ></a>
        <!-- <h1 class="grid__title">Title 1</h1>
        <p class="grid__author">Crystal Hansen</p> -->
      </div>
      <div class="mt-auto" >
      <!--   <span class="grid__tag">#tag1</span> -->
      </div>
    </div>
  </div>
  
  	<div class="grid">
		<img src="../../images/studio3/576/129A9229.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9203.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9161.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9202.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9227.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9192.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9187.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9230.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9191.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9184.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9190.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9219.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9225.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9194.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9180.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9181.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9222.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9168.JPG" 
			alt=" ">
	</div>
	<div class="grid">
		<img src="../../images/studio3/576/129A9196.JPG" 
			alt=" ">
	</div>
  
</div>
