
    <div class="section-wrapper second_sec">
        <h2 class="brief-history-title">
            about artogco
        </h2>
        <div>
            <div class="brief-history-section-2009 left-column lufa-9">
                <div class="image-container-2009">
                    &nbsp;
                </div>
                <div class="brief-history-content">
                    <div class="histoty-button">
                        <p class="history-button-class">
                            1
                        </p>
                    </div>
                    <h2 class="brief-history-content-title">
                        Application
                    </h2>
                    <p class="brief-history-text">
                        Art is a powerful medium through which emotions and stories are conveyed, often transcending the limitations of language. The brushstrokes of a painting, the colors on a canvas, or the chisel marks on a sculpture can tell intricate tales of joy, sorrow, or the quiet introspection of the human condition. Each work of art is a portal into the artist’s soul, offering viewers a chance to explore not only the artist’s vision but their own emotions and thoughts. As we engage with art, we often find that it mirrors the complexity of our lives, offering a space for reflection, connection, and even transformation.
                    </p>
                </div>
                <div class="vertical-divider">
                    &nbsp;
                </div>
            </div>
            <div class="brief-history-section-2009 right-column margin-top-200">
                <div class="image-container-2010">
                    &nbsp;
                </div>
                <div class="brief-history-content">
                    <div class="histoty-button">
                        <p class="history-button-class">
                           2 
                        </p>
                    </div>
                    <h2 class="brief-history-content-title">
                        Genres to explore
                    </h2>
                    <p class="brief-history-text">
                        From the vivid hues of the Renaissance to the abstract expressions of modern art, each era brings its own unique perspective and method of storytelling. The shift in styles and techniques reflects the ever-changing nature of human culture and society. Yet, despite the rapid evolution of artistic movements, the essence of art remains the same: it is a conversation between the artist and the audience, a way to communicate experiences that words cannot fully capture. Whether through a timeless portrait or a dynamic installation, art challenges our perceptions and invites us to view the world through a new lens.                    </p>
                </div>
            </div>
            <div class="brief-history-section-2009 left-column margin-top-200">
                <div class="image-container-2011">
                    &nbsp;
                </div>
                <div class="brief-history-content">
                    <div class="histoty-button">
                        <p class="history-button-class">
                            3
                        </p>
                    </div>
                    <h2 class="brief-history-content-title">
                        Shared Experience
                    </h2>
                    <p class="brief-history-text">
                        <strong>Art as a Shared Experience:</strong> A social media hub provides a platform where artists, collectors, and admirers can share their work with a global audience. It transforms art from something that may have once been confined to galleries and museums into an interactive, ever-evolving experience. Users can post images, videos, and thoughts on artworks, creating a collective space where the stories behind each creation unfold. Through likes, comments, and shares, art becomes not just an individual expression but a communal experience, allowing people to connect and reflect on the same work from diverse perspectives.                    </p>
                </div>
                <div class="vertical-divider">
                    &nbsp;
                </div>
            </div>
            <div class="brief-history-section-2009 right-column margin-top-200">
                <div class="image-container-2013">
                    &nbsp;
                </div>
                <div class="histoty-button">
                    <p class="history-button-class">
                        4
                    </p>
                </div>
                <div class="brief-history-content">
                    <h2 class="brief-history-content-title">
                        Digital Canvas
                    </h2>
                    <p class="brief-history-text">
                        <strong>A Digital Canvas for Expression:</strong> In a social media hub, people are not limited to traditional forms of art; digital art, photography, graphic design, and video creation thrive. Artists can use these platforms to explore and expand their creative boundaries, experimenting with interactive media and collaborating with others in real-time. These hubs provide an opportunity for experimentation, where art and technology intersect, and new forms of storytelling emerge. Just as artists have historically used the canvas to express emotions, today’s social media provides the same canvas—only this time, the world can engage in the dialogue, react, and contribute to the narrative.                    </p>
                </div>
            </div>
            <div class="brief-history-section-2009 left-column margin-top-200 lufa-16">
                <div class="image-container-2016">
                    &nbsp;
                </div>
                <div class="histoty-button">
                    <p class="history-button-class">
                        5
                    </p>
                </div>
                <div class="brief-history-content">
                    <h2 class="brief-history-content-title">
                        Story Telling
                    </h2>
                    <p class="brief-history-text">
                        <strong>Storytelling Through Interaction:</strong> Storytelling has always been central to art, and on a social media hub, this takes on a new form. It’s no longer just about the art itself but also about the stories of the artists, their journeys, and the context behind their work. Social media platforms allow creators to tell the stories behind their pieces—whether it’s sharing their personal experiences, the challenges they’ve faced, or the cultural significance of their work. The audience becomes part of the story, offering feedback, engaging in conversations, and even contributing their own narratives. The hub then becomes a storytelling ecosystem, where both creators and viewers shape the unfolding of artistic expression.                    </p>
                </div>
            </div>
            <div class="brief-history-section-2009 right-column margin-top-200 lufa-17">
                <div class="image-container-2017">
                    &nbsp;
                </div>
                <div class="histoty-button">
                    <p class="history-button-class">
                    6
                    </p>
                </div>
                <div class="brief-history-content">
                    <h2 class="brief-history-content-title">
                        Real TTime Conversations
                    </h2>
                    <p class="brief-history-text">
                        <strong>Real-Time Conversations &amp; Feedback:</strong> One of the defining features of a social media hub is the ability to facilitate real-time interaction. When an artist shares a work on a social media platform, they receive immediate feedback from their audience, which can include other artists, fans, critics, and even influencers. This interaction can lead to deeper connections, collaborations, and sometimes, new ideas that evolve from conversations sparked by a single piece of art. This feedback loop enhances the dynamic relationship between art and viewer, turning passive consumption into active participation.                    </p>
                </div>
            </div>
            <div class="brief-history-section-2009 left-column margin-top-200 lufa-19">
                <div class="image-container-2019">
                    &nbsp;
                </div>
                <div class="histoty-button">
                    <p class="history-button-class">
                        2019
                    </p>
                </div>
                <div class="brief-history-content">
                    <h2 class="brief-history-content-title">
                        A new home
                    </h2>
                    <p class="brief-history-text">
                        After outgrowing our Ahuntsic distribution centre, we moved our main office and warehouse to the Ville Saint-Laurent neighbourhood of Montreal. Once settled, we completely reinvented our packing system for better, faster, and fresher deliveries. In September, construction began on our fourth and the world’s largest rooftop greenhouse at this location.
                    </p>
                </div>
            </div>
            <div class="brief-history-section-2009 right-column margin-top-200 lufa-20">
                <div class="image-container-2020">
                    &nbsp;
                </div>
                <div class="histoty-button">
                    <p class="history-button-class">
                        2020
                    </p>
                </div>
                <div class="brief-history-content">
                    <h2 class="brief-history-content-title">
                        The arrival of the biggest, baddest greenhouse
                    </h2>
                    <p class="brief-history-text">
                        In the spring we finished construction on our largest greenhouse to date. This 163,800 square foot greenhouse reached full production in August, doubling our production capacity going from feeding 1% to 2% of Montreal families. Grappling with the struggles of the pandemic, we came together and pushed through the incredibly high demand of Lufavores for local products delivered at home.
                    </p>
                </div>
            </div>
            <div class="brief-history-section-2009 left-column margin-top-200 lufa-23">
                <div class="image-container-2023">
                    &nbsp;
                </div>
                <div class="histoty-button">
                    <p class="history-button-class">
                        2023
                    </p>
                </div>
                <div class="brief-history-content">
                    <h2 class="brief-history-content-title">
                        Pushing forward urban ag
                    </h2>
                    <p class="brief-history-text">
                        In the spring, we opened our first-ever indoor farm, transforming our Ville Saint-Laurent headquarters into a unique urban food ecosystem. This site now combines the world’s largest rooftop greenhouse, a brand new distribution centre double the size of our previous one, and an indoor farm - feeding thousands of customers each week.
                    </p>
                </div>
            </div>
            <div class="brief-history-section-2009 right-column margin-top-200 lufa-23">
                <div class="image-container-2024">
                    &nbsp;
                </div>
                <div class="histoty-button">
                    <p class="history-button-class">
                        2024
                    </p>
                </div>
                <div class="brief-history-content">
                    <h2 class="brief-history-content-title">
                        Our most high-tech greenhouse to date.
                    </h2>
                    <p class="brief-history-text">
                        We completed the construction of our fifth and most technologically advanced rooftop greenhouse yet in Ahuntic’s Marché Central complex. Spanning 127,000 square feet, this state-of-the-art urban farm is predicted to increasing vegetable yields by up to 40% compared to our other rooftops, marking a significant leap forward in efficiency and technology for us.
                    </p>
                </div>
            </div>
            <!-- 
            <div class="brief-history-section-2009 right-column margin-top-200">
                                    
                <div>
                    <img src="/images/about/Lufa2024.jpg" class="image-part-2009" >
                </div>
                                    
                <div class="btn-2024 histoty-button">
                    <p class="history-button-class">
                        2024
                    </p>
                </div>
                                    
                <div class="brief-history-content">
                                            
                    <h2 class="brief-history-content-title">
                        Our most high-tech greenhouse to date.
                    </h2>
                                            
                    <p class="brief-history-text">
                        We completed the construction of our fifth and most technologically advanced rooftop greenhouse yet in Ahuntic’s Marché Central complex. Spanning 127,000 square feet, this state-of-the-art urban farm is predicted to increasing vegetable yields by up to 40% compared to our other rooftops, marking a significant leap forward in efficiency and technology for us.
                    </p>
                                        
                </div>
                                
            </div>
             -->
        </div>
        <div class="about-us-what-next about-what-next border-bottom-green">
            <div class="brief-history-content-what-next">
                <div class="flex-row">
                    <div class="about-text-center green-text po-what-next">
                        What's next?
                    </div>
                    <div class="text-center h-font-light-grey-17">
                        <span class="">Our team is hard at work on new innovations to further improve sustainability, responsibility and improving availability.</span>
                    </div>
                    <div class="text-center font-normal-17">
                        <span>Our vision is a city of rooftop farms.</span>
                    </div>
                    <div class="about_link text-center green-link h-font-regular-f-17 green-text">
                        <a href="/en/about">About us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>